* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  min-width: 515px;
  font-size: 16px; // 基准字体大小
  font-family: 'PlayfairDisplay', 'SpecialElite', serif;
}
body {
  background-color: #c02924;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../src/assets/font/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: 'SpecialElite';
  src: url("../src/assets/font/SpecialElite-Regular.ttf");
}
