.footer-contain {
  width: 100%;
  min-height: 300px;
  background: #000000;

  .socialList-contain {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      display: block;
      height: 64px;
      padding-right: 24px;

      img {
        height: 100%;
      }
    }
  }

  .footer-copyright-creditList-contain {
    display: flex;
    padding-top: 2%;
    padding-right: 8%;
    padding-left: 8%;
    color: #FFFFFF;
    font-family: 'SpecialElite', serif;
    font-weight: bold;
    font-size: 0.9em;

    .copyright-contain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 48px;

      div {

        a {
          color: #FFFFFF;
          text-decoration: none;
          outline: none;
        }

        a:not(:last-child) {
          padding-right: 46px;
        }
      }
    }

    .empty-block {
      flex: 1;
    }

    .creditList-contain {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: block;
        height: 48px;

        img {
          height: 100%;
        }
      }

      a:not(:last-child) {
        padding-right: 28px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .footer-copyright-creditList-contain {
      flex-direction: column;
      align-items: center;


      .copyright-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5%;
        width: 100%;
        min-height: 48px;
        text-align: center;

        p {
          margin-bottom: 5%;
        }

        div {
          display: flex;
          justify-content: center;

          a {
            padding-right: 5%;
            padding-left: 5%;
          }
        }
      }

      .empty-block {
        display: none;
      }
    }
  }
}