.home-contain {
  position: relative;
  width: 100%;

  .title-contain {
    box-sizing: border-box;
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 120px;
    min-height: calc(100vh - 70px);

    .logo {
      display: block;
      width: 28%;
      user-select: none;
    }

    .text {
      display: inline-block;
      padding-right: 6%;
      padding-left: 2%;
      background: #000000;

      h2 {
        color: #e9edee;
        font-size: 1.4em;
        font-weight: bold;
        font-family: 'PlayfairDisplay', serif;
      }
    }

    .store-contain {
      height: 40px;
      margin-top: 10px;
      a {
        padding-right: 2%;
        img {
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 800px){
    .title-contain {
      padding-top: calc(100vh - 70px - 120px - 220px);
      padding-left: 16px;

      .logo {
        width: calc(100% - 32px);
      }

      .text {
        translate: 0 -80%;
      }

      .store-contain {
        translate: 0 -50%;
      }

    }
  }

  .bottom-image {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}