.story-contain {
  position: relative;
  top: -8px;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/img/body/story/story_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -101;
}