.media-contain {
  position: relative;
  min-height: 200vh;

  .media-background-image {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 250vh;
    background-image: url("src/assets/img/body/media/media_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
  }

  .video-contain {
    position: relative;
    padding-bottom: 90px;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: #1b1b1b;

    .media-header {
      margin-top: 7%;
      width: 100%;

      .media-header-image {
        position: relative;
        height: 38px;
      }
    }
    .media-video {
      position: relative;
      padding-top: 2em;

      .title {
        position: absolute;
        top: -16px;
        left: 34.5%;
        font-size: 2.8em;
        font-weight: bold;
        color: #e5e5e5;
      }

      .video-contain {
        box-sizing: border-box;
        margin: 0 auto;
        width: 125vh;
        height: 70vh;
        padding: 5px 12px;
        background: #e5e5e5;

        iframe {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }

      .underline {
        width: 50%;
      }

      @media screen and (max-width: 125vh) {
        .title {
          left: 370px;
        }

        .video-contain {
          width: 100%;
        }
      }
    }
  }

  .swiper-contain {
    position: relative;
    padding-bottom: 70px;
    height: 100vh;
    z-index: 1;
  }
}