.media-contain {
  position: relative;
  min-height: 200vh;

  .media-background-image {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 250vh;
    background-image: url("src/assets/img/body/media/media_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
  }

  .video-contain {
    position: relative;
    padding-bottom: 90px;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: #1b1b1b;

    .media-header {
      margin-top: 7%;
      width: 100%;

      .media-header-image {
        position: relative;
        height: 38px;
      }
    }
    .media-video {
      position: relative;
      padding-top: 2em;

      .title {
        position: absolute;
        top: -16px;
        left: 34.5%;
        font-size: 2.8em;
        font-weight: bold;
        color: #e5e5e5;
      }

      .video-contain {
        box-sizing: border-box;
        margin: 0 auto;
        width: 125vh;
        height: 70vh;
        padding: 5px 12px;
        background: #e5e5e5;

        iframe {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }

      .underline {
        width: 50%;
      }

      @media screen and (max-width: 125vh) {
        .title {
          left: 370px;
        }

        .video-contain {
          width: 100%;
        }
      }
    }
  }

  .swiper-contain {
    position: relative;
    padding-bottom: 70px;
    background-image: url("../src/assets/img/body/media/swiper_bottom_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    z-index: 1;

    .swiper-header {
      margin-top: 45px;
      color: #e5e5e5;
      font-size: 2em;
      text-align: center;
      background-image: url("../src/assets/img/body/media/swiper_header.png");
      background-size: 784px auto;
      background-position: center 60%;
      background-repeat: no-repeat;
    }

    .swiper-content-contain {
      position: relative;
      top: -8px;
      margin: 0 auto;
      padding: 0 12px;
      width: 125vh;
      background: #e5e5e5;

      .swiper-picture-show {
        width: 100%;
        height: 70vh;
      }

      .thumbnails {
        position: relative;
        display: flex;
        width: 100%;
        top: -4px;

        .item {
          position: relative;
          width: 20%;
          height: 14vh;
          border-top: 4px solid transparent;
          cursor: pointer;
          overflow: visible;
          transition: 0.3s ease;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .current {
          border-top-color: #c02924;
        }

        .item::before {
          content: "";
          position: absolute;
          top: -4px;
          left: 100%;
          width: 0;
          height: 4px;
          transition: 0.5s ease;
          background: #c02924;
        }

        .item:hover::before {
          width: 100%;
          left: 0;
        }

        .item:hover ~ .item::before {
          left: 0;
        }

      }

      .swiper-button {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        cursor: pointer;

        img {
          height: 10vh;
          object-fit: contain;
        }
      }
    }

  }

  @media screen and (max-width: 125vh){
    .swiper-contain {
      margin-top: 10vh;
      .swiper-content-contain {
        width: calc(100% - 27px);

        .swiper-picture-show {
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
